<!doctype html>
<html lang="en">

<head>
	<link rel="shortcut icon" type="img/png" href="favicon.png">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">

	<title>Disc Golf Tracker</title>
</head>

<body>
	<div class="container" id="app">
		<setup v-if="!setupComplete" @setup-complete="completeSetup"></setup>

		<hole v-for="hole in round.holes" v-if="holeInProgress(hole.number)" v-bind:key="hole.number" v-bind:number="hole.number"
		 @go-to-hole="goToHole" @show-scoreboard="showScoreboard"></hole>

		<scoreboard v-if="scoreboardVisible" v-bind:done="roundComplete" @hide-scoreboard="hideScoreboard"></scoreboard>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="dist/bundle.js" type="text/javascript"></script>
</body>

</html>