.right-block {
    margin-left: auto;
    display: block;
}

body {
    background-color: #558D57;
}

.my-text-muted {
    color: #D9D9D9
}

/* .btn-primary {
    border-color: #284B63;
    background-color: #284B63;
    color: #284B63;
}

.btn-outline-primary {
    border-color: #284B63;
    color: #284B63;
}

.btn-outline-primary:hover {
    border-color: #284B63;
    background-color: #284B63;
    color: #558D57;
} */

/* .btn-secondary {
    border-color: #9B1D20;
    background-color: #9B1D20;
    color: #9B1D20;
}

.btn-outline-secondary {
    border-color: #9B1D20;
    color: #9B1D20;
}

.btn-outline-secondary:hover {
    border-color: #9B1D20;
    background-color: #9B1D20;
    color: #558D57;
} */

.my-text-success {
    color: #B5CA8D
}

.my-text-danger {
    color: #EE6352
}